body {
    color: aquamarine;
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

H2 {
    color:black;
    text-align: center;
}

caption {
    color:blue;
    
}

footer {
    color:blue;
    text-align: center;
}

img {
    size: 100x100;
}

.center {
    margin-left:auto;
    margin-right:auto;
}
